.section-meals {
  padding: 9.6rem 0;
}
.center-text {
  text-align: center;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag--vegetarian {
  background-color: #51cf66;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: rgb(230, 126, 34);
}
.hydrated {
  visibility: inherit;
}
.ion-icon {
  visibility: hidden;
}
.icon-inner,
.ionicon,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

:host .ionicon {
  stroke: currentcolor;
}

.ionicon-stroke-width {
  stroke-width: var(--ionicon-stroke-width, 32px);
}

.checkmark {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #e67e22;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
}
.delet {
  width: 3rem;
  height: 3rem;
  stroke: #e67e22;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  border-radius: 50%;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  display: inline-block;
  color: rgb(230, 126, 34);
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid currentcolor;
  transition: all 0.3s ease 0s;
}
